:root{

  /* colors */
  --blue-100: #A9D6E5;
  --blue-200: #89C2D9;
  --blue-300: #468FAF;
  --blue-400: #2C7DA0;
  --blue-500: #2A6F97;
  --blue-600: #014F86;
  --blue-700: #01497C;
  --blue-800: #013A63;
  --blue-900: #012A4A;
  --white:rgb(239, 237, 237);

  /* font-familys */
  --ff-roboto:"Roboto", sans-serif;
  --ff-space-grotesk:"Space Grotesk", sans-serif
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--blue-100);
  font-family: var(--ff-roboto);
  display: grid;
  grid-template-rows: 80px 1fr;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;

}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-space-grotesk);
}
#root, #__next {
  isolation: isolate;
}

header{
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: var(--white);
  background-color: var(--blue-200);
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 2rem;
  color: var(--blue-900);
}

.left-container,
.right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.player-board,
.enemy-board{

  height: 25vw;
  width: 25vw;
  display: flex;

}

.player-board div,
.enemy-board div{
  background-color: var(--blue-600);
  border: 1px solid var(--blue-100);
  width: calc(100% / 10);
  height: calc((100%/ 10));
}