:root{

  /* colors */
  --blue-100: #A9D6E5;
  --blue-200: #89C2D9;
  --blue-300: #468FAF;
  --blue-400: #2C7DA0;
  --blue-500: #2A6F97;
  --blue-600: #014F86;
  --blue-700: #01497C;
  --blue-800: #013A63;
  --blue-900: #012A4A;

  /* font-familys */
  --ff-roboto:"Roboto", sans-serif;
  --ff-space-grotesk:"Space Grotesk", sans-serif
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}